.detail {
  /* background-color: blue; */
  // margin: 3rem 10% 0 10%;

  h2 {
    text-align: left;
  }

  .imgContainer {
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 100%;
    height: 350px;
    overflow: hidden;


    img {
      width: 100%;
    }
  }
  
  
}


